body {
    background: #63b5f1;
    margin: 80px 0;
}

.container {
    width: 400px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

header {
    background: #3d84b8;
    border-radius: 5px 5px 0 0;
    padding: 30px 0 80px;
}

main {
    background: white;
    padding: 80px 15px 30px;
    border-radius: 0 0 5px 5px;
}

h1 {
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
}

h2 {
    color: #5782a4;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 30px;
}

a {
    color: #5782a4;
}

p {
    font-family: sans-serif;
    font-size: 13px;
    line-height: 25px;
    color: #666666;
    margin: 40px 20px;
}

footer p {
    color: white;
}

.btn {
    background: #3d84b8;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5px;
}

.avatar {
    width: 100px;
    height: 100px;
    background: #1e425c;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    border-radius: 50%;
    border: 3px solid white;
}

.badge {
    background: #ffc906;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    margin-top: -35px;
    margin-left: 35px;
}
